

.container{
width: 960px;
}


.fa {margin-top: 115px;
	font-size: 40px;
	}

h1, h2, h3, h4 {

font-family: 'Open Sans Condensed', sans-serif;
font-weight: 700;

}

a  {
    border: none; /* Убираем рамку */
   }



.ribbon {
width: 811px;
height: 65px;
background: url("../images/bg-dev.png") no-repeat;
margin: 50px auto;

h2 {

padding-top: 13px;
text-align: center;
color: white;

}

}

#wraper {
display: block;
width: 100%;
height: 100%;
margin: 0 auto;
overflow: auto;
}



#top-menu{
width: 100%;
height: 50px;
background: url("../images/top-bg.png") repeat;

	.nav {
	width: 960px;
	margin: 0 auto;

	}
	ul {
		list-style-type: none;
		margin-bottom: 0px;
		text-align: justify;




		li {
		display: table-cell;

		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		font-size: 21px;


			a {
				color:#FDFFFF;
				text-decoration: none;
				padding: 15px 32px;
				}

			a:hover {
				color:#4f4e54;
				background: url("../images/bg-gray.png");
				}
			a:focus {
				color:#4f4e54;
				background: url("../images/bg-gray.png");
			}

			}
		}
	}




#header{
min-width: 960px;
height: 190px;

margin-top: 50px;
background: url("../images/bg-gray.png") repeat;
/*background: url("../images/header.jpg") no-repeat center;*/

	#logo{
		width: 273px;
		height: 95px;
		margin-left: 85px;
		margin-top: 43px;
		float: left;

		}
	#phones{
		width: 295px;
		height: 95px;
		margin-top: 52px;
		float: left;
		margin-left: 45px;
		.lead {
			margin-bottom: 20px;
			font-family: 'Open Sans Condensed', sans-serif;;
			font-size: 21px;
			font-weight: 300;
			color: #348D93;
			line-height: 1.26;
		}
	}



	#action{
		background: url("../images/btn-action-pass.png") no-repeat center;
		width: 190px;
		height: 190px;
		float: left;
		padding-top: 5px;
		transition: 0.5s ease;

		a {text-decoration: none;}

		.lead { font-size: 24px;
				text-decoration: none;
				color: #FFF;
				text-align: center;
				padding: 40px;
				transform: rotate(11deg);
				font-weight: 600;
				font-style: italic;
				}


	}
	#action:hover {background: url("../images/btn-action-hov.png")no-repeat center;}
	#action:focus {background: url("../images/btn-action-focus.png")no-repeat center;}

	#form-send {

	text-align: center;

	}




}

.numbers{
	background: url("../images/phone-icon.png") no-repeat left;
	height: 30px;
	margin: 8px 0px;
	padding-left: 40px;
	font-family: "Open Sans Condensed";
	font-size: 28px;
	line-height: 26px;
	font-weight: 700;
	color: #4F4E54;
	}

#devider{

	min-height:100px;
	background: url("../images/devider.png") no-repeat center;
	}
#devider-short{

	min-height:90px;
	background: url("../images/devider-short.png") no-repeat center;
	}

#video {
min-width: 960px;
height: 608px;
background: #000 url("../images/bg-video.png") no-repeat center;

}

	.video {
	position:relative;

	width:800px;
	height:450px;
	margin: 0 auto;
	margin: 0 auto;
	margin-top: 80px;

	overflow:hidden;
	}
	.video iframe,.myvideo object,.myvideo embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	}



.nav-tabs.nav-justified > li > a {
								margin-top: 0px;
								border: none;

								}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;

	border: none;

	}
.nav-tabs > li.active > a  {


						}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {


						}
						.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {

    border: none;
}
.nav > li > a {
    //*position: relative;*/
	position: static;
    display: block;
    padding: none;
}



.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border:  none;
}

.nav-tabs.nav-justified > li > a {
    border-bottom: none;
    border-radius: 160px;
    opacity: 0.25;
}
.nav-tabs.nav-justified > li {
    display: table-cell;
    width: 320px;
}

#services{
min-width: 960px;
height: 430px;
background: url("../images/bg-gray.png");

	#serv-menu {

	height: 470px;
	vertical-align: middle;

	}

	#services-1 {

				a {background: url("../images/btn-serv1-pass.png") no-repeat center;
				min-height:190px;
				min-width: 70px;
				overflow: visible;
				opacity: 1;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 700;
				font-size: 21px;
				color: white;
				padding: 150px 0px;
				transition:  0.5s ease;



				}

				a:hover {background: url("../images/btn-serv1-hov.png") no-repeat center;
				font-size: 40px;
				padding: 129px 0px;

				}

				a:focus {background: url("../images/btn-serv1-hov.png") no-repeat center;
				font-size: 40px;
				padding: 129px 0px;
				}

				li {.active {a:focus  {background: url("../images/btn-serv1-hov.png") no-repeat center;}}}

				}




	#services-2  {
				a { background: url("../images/btn-serv2-pass.png") no-repeat center;
				min-height:190px;
				min-width: 70px;
				overflow: visible;
				opacity: 1;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 700;
				font-size: 21px;
				color: white;
				padding: 150px 0px;
				transition: 0.5s ease;}

				a:hover {background: url("../images/btn-serv2-hov.png") no-repeat center;
				font-size: 40px;
				padding: 129px 0px;}
				a:focus {background: url("../images/btn-serv2-hov.png") no-repeat center;
				font-size: 40px;
				padding: 129px 0px;}

				}
	#services-3  {
				a {background: url("../images/btn-serv3-pass.png") no-repeat center;
				min-height:190px;
				min-width: 70px;
				overflow: visible;
				opacity: 1;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 700;
				font-size: 21px;
				color: white;
				padding: 150px 0px;
				transition: 0.5s ease;}

				a:hover {background: url("../images/btn-serv3-hov.png") no-repeat center;
				font-size: 40px;
				padding: 129px 0px;}
				a:focus {background: url("../images/btn-serv3-hov.png") no-repeat center;
				font-size: 40px;
				padding: 129px 0px;}

				li {.active {a {background: url("../images/btn-serv3-hov.png") no-repeat center;}}}

				}











}

#services-content{
min-width: 960px;
height: 613px;
background: #330000  url("../images/bg-services.png") no-repeat center;



	.bg-text-light {


	width: 885px;
	height: 590px;
	margin:0 auto;
	margin-top: 31px;
	background: url("../images/bg-service-content.png") no-repeat center;



	}
	.descript {

	width: 400px;
	height:315px;
	float: left;
	padding: 55px;
	color: #4F4E54;

	}
	.descript-2 {

	width: 500px;
	height: 435px;
	margin-left: 225px;

	}

	.slideshow{

	width: 405px;
	height:375px;
	float: left;
	transform: rotate(6deg);

	}
	.bg-slide {

	background: #FFF none repeat scroll 0% 0%;
	width: 455px;
	height: 294px;
	overflow: auto;
	border-radius: 14px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	margin-top: 65px;

	}
	.slide-frame{

	width: 430px;
	height: 270px;
	margin: auto;
	overflow: hidden;
	margin-top: 12px;

	}

}


	#about{
	min-width: 960px;
	height: 1444px;
	background: url("../images/bg-gray.png");

	}



	#about-description {

	width: 800px;
	min-height: 125px;
	margin: 0 auto;
	padding: 12px 55px;
	border: solid 10px #fff;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
	background: url("../images/bg-about-description.png");
	color: white;


		h3{text-align: center;}

	}

	#now-events {
	width: 771px;
	height: 250px;
	background: url("../images/now-events.png");
	margin: 60px auto;


	}

	#about-face {
	width: 710px;
	margin: 0 auto;



	}
	.description{

		width: 465px;
		float: left;
		text-align: center;
		padding: 0px 50px;

	}

	.img-face{
	float: left;

	}
	.face{
	border: 8px solid #FFF;
	width: 250px;
	height: 250px;
	border-radius: 250px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
	}
	.amp{
	width: 208px;
	height: 250px;
	float: left;
	background: url("../images/micro.png") no-repeat center;
	}


#offers{
min-width: 960px;
min-height: 795px;




#gray-bg {

width: 100%;
height: 165px;
background: url("../images/bg-dark-gray.png");

}

#offers-container {
height: 655px;
width:100%;

background: #751A26 url("../images/bg-offers.png") no-repeat center;}

#bg-offers{
background: url("../images/bg-offers-small.png") ;
width:800px;
height:395px;
margin: 40px auto;
padding: 25px;

.col-half {
float: left;
width:370px;
padding: 0px 20px;

}

}

.photo-rot-1{
position:relative;
width: 375px;
margin-top: 31px;
margin-left: 40px;
border: solid 8px white;
border-radius: 5px;
transform: rotate(5deg);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.photo-rot-2{
position:absolute;
width: 375px;
margin-top: 31px;
margin-left: 40px;
border: solid 8px white;
border-radius: 5px;
transform: rotate(-3deg) translatex(34px) translatey(-302px);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#offers-label{
position:absolute;
width:225px;
height:321px;
background: url("../images/offers-label.png") no-repeat center;
text-align: center;
font-family: impact;
font-size: 25px;
padding-top: 120px;
transform: rotate(-8deg) translateX(156px) translateY(-347px);
color: red;
}

}





#portfolio{
min-width: 960px;
height: 475px;
background: url("../images/bg-gray.png");


	.content {
	width: 800px;
	margin: 0 auto;


	}
	img {
    border: 3px white solid;
}




}

	.center .slick-center h3 {
    color: #E67E22;
    opacity: 1;
    transform: scale(1.08);
}

.slick-center{

	color: #E67E22;
    opacity: 1;
    transform: scale(1.2);
	}
.slick-track {
    position: relative;
    top: 0px;
    left: 0px;
    display: block;
    padding: 30px 0 30px 0;
}

.slick-dots {
li button {
    font-family: "slick";
    font-size: 20px;}}


#testimonials{
min-width: 960px;
min-height: 690px;
background: url("../images/bg-dark-gray.png");}

#testimonials-content {
width: 800px
margin: 40px auto;


}

.client {
width: 150px;
height: 150px;
float: left;
border: 8px solid white;
margin-top: 20px;

}

.testi-content{
color: #4F4E54;
font-family: georgia;
font-style: italic;
font-size:20px;
padding: 10px;
}

.testi-autor{
color: #4F4E54;
text-align: right;
font-size:24px;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 700;
}

.atestimore {
	text-decoration: none;
	color: #337AB7;
		a {
		text-decoration: none;
		color: #337AB7;
		}
		a:hover {
		text-decoration: none;
		color:white;
		font-size: 30px;
		}
		a:hover {
		text-decoration: none;
		color:white;
		font-size: 30px;
		}
}

#btn-testi-more {
width: 314px;
margin: 40px auto;
}


#contacts{
min-width: 960px;
height: 600px;
width: 100%;
background: url("../images/bg-gray.png");

.numbers{
	background: url("../images/phone-icon.png") no-repeat left;
	height: 30px;
	margin: 8px auto;
	font-family: "Open Sans Condensed";
	font-size: 28px;
	line-height: 26px;
	font-weight: 700;
	width: 225px;
	}

}

#buy {
min-width: 960px;
height: 370px;
background: url("../images/bg-dark-gray.png");

}
.microfone {
width: 216px;
height: 418px;
margin: 0 auto;
}

#btn-buy {
margin: 110px auto;
width: 528px;
}

#footer{
min-width: 960px;
min-height: 100px;
background: url("../images/top-bg.png");
padding-top: 20px;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 700;
  color: white;
 a {
color:#ADADE3;

}

.fa {
  margin-top: 0;
  font-size: 30px;
}

}

#top {
  bottom: 40px;
  cursor: pointer;
  display: none;
  font-size: 150%;
  position: fixed;
  right: 40px;


	.fa {
	font-size: 50px;
	}
}


#page-preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: #FFF none repeat scroll 0% 0%;
    z-index: 100500;
}
	.spinner {
    width: 66px;
    height: 66px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: transparent url("../images/spinner.gif") no-repeat scroll 50% 50%;
    margin: -33px 0px 0px -33px;
}



